@import 'src/base';

.card-container {
    min-height: 600px;
    border-radius: 2%;

    .ant-card-head-title {
        font-size: 24px;
    }

    div .ant-typography {
        text-transform: capitalize;
    }

    .info-box {
        display: flex;
        align-items: baseline;
        padding: 1%;
        border: 1px solid black;
        border-radius: 1%;
        margin: 10px 0;
        min-height: 80px;


        h5 {
            padding: 0 3px;
        }

    }

    .info-box:nth-child(2) {
        min-height: 10px;
    }

    .ant-image {
        width: 50%;
        margin: 0 auto;
        display: block;
    }

}